.card {
  display: flex;
  flex-direction: column;
  gap: var(--size-3);
  background: var(--bg-1);
  color: var(--fg-0);
  border: var(--border-0);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-0);
  overflow: hidden;
  padding: var(--size-6);
}

.card-header {
  display: flex;
  flex-direction: column;
  gap: var(--size-1);
}

.card-header h1,
.card-header h2,
.card-header h3,
.card-header h4,
.card-header h5,
.card-header h6 {
  margin: 0;
}

.card-header p {
  font-size: var(--font-sm);
  color: var(--fg-2);
  margin: 0;
}

.card-body {
}

.card-footer {
  display: flex;
  justify-content: flex-end;
  gap: var(--size-2);
}

.card-footer .btn {
  padding: var(--size-2) var(--size-4);
  font-size: var(--font-base);
  line-height: var(--size-5);
}
